Node Red Simulation/Microgrid Simulation.json
[{"id":"f1befed7.645ca","type":"tab","label":"Microgrid Simulations","disabled":false,"info":""},{"id":"d4946da9.dc229","type":"inject","z":"f1befed7.645ca","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"time\":null,\"temperature\":12.2083,\"solarIrradiance\":487,\"energyConsumption\":10359,\"solarPanelMaxChargeCap\":330,\"solarPanelArea\":19.5,\"percentEnergyStoredInBattery\":20,\"DCToACEfficiencyRate\":95,\"requiredLoadDemand\":null}","payloadType":"json","x":650,"y":360,"wires":[["755dd673.4023a8"]]},{"id":"98935d3f.8c24f","type":"ui_form","z":"f1befed7.645ca","name":"Form","label":"","group":"5cc7d621.6da738","order":1,"width":0,"height":0,"options":[{"label":"Time","value":"time","type":"time","required":false,"rows":null},{"label":"Temperature (Celcius)","value":"temperature","type":"number","required":false,"rows":null},{"label":"Solar Irradiance (W/m square)","value":"solarIrradiance","type":"number","required":false,"rows":null},{"label":"Energy Consumption (Wh)","value":"energyConsumption","type":"number","required":false,"rows":null},{"label":"Maximum Charge (W) Capacity","value":"solarPanelMaxChargeCap","type":"number","required":false,"rows":null},{"label":"Panel Area (m square)","value":"solarPanelArea","type":"number","required":false,"rows":null},{"label":"Percent of energy to be stored in the battery (%)","value":"percentEnergyStoredInBattery","type":"number","required":false,"rows":null},{"label":"AC to DC Efficiency Rate (%)","value":"DCToACEfficiencyRate","type":"number","required":false,"rows":null}],"formValue":{"time":"","temperature":"","solarIrradiance":"","energyConsumption":"","solarPanelMaxChargeCap":"","solarPanelArea":"","percentEnergyStoredInBattery":"","DCToACEfficiencyRate":""},"payload":"","submit":"Calculate","cancel":"Cancel","topic":"details","topicType":"msg","splitLayout":"","x":630,"y":480,"wires":[["755dd673.4023a8"]]},{"id":"755dd673.4023a8","type":"function","z":"f1befed7.645ca","name":"","func":"msg.payload.energyEfficiency = (msg.payload.solarPanelMaxChargeCap/msg.payload.solarPanelArea)/(1000/100)\nmsg.payload.totalEnergyGeneration = msg.payload.solarPanelArea*msg.payload.solarIrradiance*msg.payload.energyEfficiency\nmsg.payload.energyGenerationAfterStorage = msg.payload.totalEnergyGeneration*(1-(msg.payload.percentEnergyStoredInBattery/100))\nmsg.payload.dcToAcEnergy = msg.payload.energyGenerationAfterStorage*(msg.payload.DCToACEfficiencyRate/100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":420,"wires":[["d095767a.e68218","23d8e10c.fc4ebe","c6ffa8e9.6898b8","91b0dcc6.68b35"]]},{"id":"d095767a.e68218","type":"debug","z":"f1befed7.645ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":380,"wires":[]},{"id":"23d8e10c.fc4ebe","type":"ui_text","z":"f1befed7.645ca","group":"51edec57.1f9f74","order":1,"width":"6","height":"2","name":"Dashboard Element","label":"<font size = \"3\",font color = \"black\">Total Energy Generated","format":"<font size = \"5\",font color = \"black\">{{msg.payload.totalEnergyGeneration.toFixed(2)}} (W)","layout":"col-center","x":1040,"y":460,"wires":[]},{"id":"91b0dcc6.68b35","type":"ui_text","z":"f1befed7.645ca","group":"51edec57.1f9f74","order":1,"width":"6","height":"2","name":"Dashboard Element","label":"<font size = \"3\",font color = \"black\">AC Converted Energy","format":"<font size = \"5\",font color = \"black\">{{msg.payload.dcToAcEnergy.toFixed(2)}} (W)","layout":"col-center","x":1040,"y":620,"wires":[]},{"id":"c6ffa8e9.6898b8","type":"ui_text","z":"f1befed7.645ca","group":"51edec57.1f9f74","order":1,"width":"6","height":"2","name":"Dashboard Element","label":"<font size = \"3\",font color = \"black\">Energy left after Battery Storage","format":"<font size = \"5\",font color = \"black\">{{msg.payload.energyGenerationAfterStorage.toFixed(2)}} (W)","layout":"col-center","x":1040,"y":540,"wires":[]},{"id":"5cc7d621.6da738","type":"ui_group","name":"Enter Values","tab":"7835f684.51da38","order":1,"disp":true,"width":"6","collapse":false},{"id":"51edec57.1f9f74","type":"ui_group","name":"Output","tab":"7835f684.51da38","order":2,"disp":true,"width":"6","collapse":false},{"id":"7835f684.51da38","type":"ui_tab","name":"Utsav's Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]